.plants-collection > h3 {
  margin: 1rem 0 0 1rem;
}
.plants-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}

.plants-list > li {
  grid-column: auto / span 4;
  margin: 0 0.5rem;
  padding: 1rem;
  border: thin solid var(--blue);
}

.plant-info {
  color: var(--dark-alt);
  border-radius: 0.25rem;
}

.plant-actions {
  margin-top: 2rem;
  text-align: right;
}

@media only screen and (min-width: 48em) {
  .plants-list > li {
    grid-column: auto / span 2;
  }
}
