.logotype {
  display: inline-flex;
  margin-left: -1rem;
}
.logotype svg {
  height: 1.5em;
  width: auto;
}

.logout {
  display: block;
  text-align: right;
  padding: 0 1rem;
}

.app-header {
  text-align: center;
}